*{
  
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: white;
  color:#2e1a16;

  

    
  }



.container{
  
  max-width:1200px;
  margin: 0;
  
}

header{
  
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  
}

.brand{
  
  font-size: 3rem;
  color: #ff4081;
  font-weight: bold;
  
  
}

.tagline{
  
  font-size: 1.2rem;
  color: #ff783ef;
  font-style: italic;

}

.product-display{
  
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding:1.5rem 2rem;
  
  
}

.gallery{
  
  flex:1;
  position:relative;
}

.gallery input {
  
  display: none;
  
  
}

.images{
  
  position:relative;
  height:400px;
  overflow: hidden;
  border-radius: 10px;
  
}

.image{
  
  display: none;
  position: absolute;
  width:100%;
  height:100%;
  
}

#img1:checked ~ .images #slide1,
#img2:checked ~ .images #slide2,
#img3:checked ~ .images #slide3,
#img4:checked ~ .images #slide4{
  
  display: block;
}
  
  
.image img{
  
  width:100%;
  height:100%;
  object-fit: cover;
}

.thumbnails{
  
margin-top: 1rem;
display:flex;
justify-content: center;
gap: 1rem;
}

.thumbnails label{
  
  cursor: pointer;
  
}

.thumbnails img{
  
  width: 60px;
  height:60px;
  object-fit: cover;
  border-radius: 5px;
}

.product-info{
  
  
  flex:1;
  justify-content: center;
}

.product-info h2{
  
  
  font-size:2rem;
  color: #ff4081;
}

.description{
  
  margin: 1rem;
  color:#5a3c3c;
  line-height: 1.5;

  
}

.price{
  
  font-size:1.5rem;
  font-weight: bold;
  color:#e74c3c;
  margin-bottom: 1rem;
  
  
}

button{
  
  background:#ff4081;
  color: white;
  border: none ;
  padding:0.75rem 1.5rem;
  font-size:1rem;
  border-radius: 5px;
  cursor:pointer;
}

.footer{
  
  background-color: #333;
  text-align: center;
  margin-top: 20px;
  margin-right: 0;
  padding: 30px 0;
  color: white;
  width:100%;

}




.footer .socials a{
  
  
  color: pink ;
  margin:0 0.5;
  text-decoration: none;
  
}